
body{
    background-image: url(fondito.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   }
.subtitulos{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.img-fluid{
    width: 1500px;
    height: 300px;
}
.presentacion{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 30px;
}
.display-4{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 30px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

.ofertasgato{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;

}
footer {
       background-color: rgb(225, 176, 183);
       text-align: center;
       height: 50px
   }

    .carousel-inner .carousel-item.active,
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        display: flex;
    }
.contenedor{
    width: 90%;
	max-width: 1200px;
	margin: auto;
	padding: 40px 0;
    gap: 20px;

}

.contenedor-categoria{
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 20px;

    .card{
        border-radius: 10px;
        width: 400px;
	min-height: 400px;
	font-weight: bold;
	padding: 30pxpx;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;

    .textos {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
}
.gato{
    width:400px;
    height: 400px;
}
.centro{
    display: flex;
    justify-content: center;
}

    /* //INFORMACION// */
.cajainfo{
    margin: 0px;
    padding: 0px;
}
.informacion{
    width: 960px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}


nav{
    background-color: rgb(255, 207, 215);
    height: 80px;
}
nav h2{
    font-size: 50px;
    text-align: center;
    line-height: 50px;
}
.informacion2{
    width: 1000px;
    height: 100;
    background-color: rgb(255, 219, 225);
    margin-top: 10px;
    margin-right: 10px;
    display: flex;
}
.informacion2 h2 {
    font-size: 40px;
    text-align: center;
    line-height: 500px;
}
aside{
    width: 3000px;
    height: 800px;
    background-color: rgb(255, 160, 176);
    margin-top: 20px;
    float: left;
    justify-content: space-between;
    flex-direction: column;
   
}
aside{
    text-align:center;
    margin-top:10px;
    font-size: 40px;
}
/* ////contactos horarios///// */
.contactos{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 30px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* //// */

.whatsapp-btn {
    display: flex;
    align-items: center;
    background-color:pink;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.whatsapp-btn:hover {
    background-color: pink;
}

.whatsapp-logo {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
