
body{
    background-image: url(fondito.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   }
.subtitulos{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.display-3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
footer {
       background-color: rgb(225, 176, 183);
       text-align: center;
       height: 50px
   }

    .carousel-inner .carousel-item.active,
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        display: flex;
    }
.contenedor{
    width: 90%;
	max-width: 1200px;
	margin: auto;
	padding: 40px 0;
    gap: 20px;

}

.contenedor-categoria{
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 20px;

    .card{
        border-radius: 10px;
        width: 400px;
	min-height: 400px;
	font-weight: bold;
	padding: 30pxpx;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;

    .textos {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
}
